#app {
  font-family: Arial, sans-serif;
  margin: 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  background-color: rgb(216, 217, 218);
  display: flex;
  justify-content: center;
  padding: 1em;
  border-radius: 12px;
}

.router-link {
  color: black;
  margin: 0 1em;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 12px;
  background-color: white;
}

.router-link-active {
  background-color: rgb(0, 123, 255);
  color: white;
}
